<div>
  <h1>Liste des livres</h1>
  <table>
    <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.description }}</td>
      <td>{{ book.genre }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Liste des Users</h1>
  <table>
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Livres</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>
        <ul *ngFor="let book of user.books">
          <li>Titre: {{book.title}}</li>
          Genre : {{book.genre}}
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>

